<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/styles.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {{ content }}

    <footer class="footer">© {{ site.time | date: "%Y" }} Nauzet Torres Tejera </footer>
  </body>
</html>
